[color]
	ui = true
[core]
	fileMode = false
[user]
	name = Michael Donat
	email = michael.donat@me.com
[push]
        default = simple

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
